# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# -----------------------------
# Flask
# -----------------------------
instance/
*.db
*.sqlite3

# -----------------------------
# Uploads / Media files
# (large files should not go to github)
# -----------------------------
uploads/
video/
audio/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Environment variables
# -----------------------------
.env
